@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #f5f6fa;
  padding: 9.313rem 6.25rem 11.75rem;
}

.container {
  padding: 0 6.25rem;
}

hr {
  margin: 2.5rem 0 1.813rem 6.25rem;
  border: 1px solid #eee;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #c4c4c4;
}

select {
  font-family: 'Montserrat', sans-serif;
  color: #c4c4c4;
  font-size: 1rem;
  margin: 0.438rem 10.438rem 0.25rem 0;
}
