* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #f5f6fa;
  padding: 9.313rem 6.25rem 11.75rem;
}

.container {
  padding: 0 6.25rem;
}

hr {
  margin: 2.5rem 6.25rem;
  border: 1px solid #eee;
}
